body {
  background-color: black;
}

#wrapper {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  background-color: black;
}

header{
  grid-column: span 12;
  font-family: 'Permanent Marker', cursive;
  color: red;
  background-color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom:  20px;
  font-size: 26px;
}

nav {
  grid-column: span 12;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top:0
}

nav ul {

}

nav li {
  list-style: none;
  display: inline;
  font-family: 'Permanent Marker', cursive;
  padding:  5%;
  font-size: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: transform .2s;
}

nav li a:hover {
  color: red;
  transform: scale(1.5);
}

nav li a:visited {
  color: red;
  text-decoration: underline;
}

main {
  grid-column: span 12;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  color: white;
  transition: transform .2s;
}

footer{
  grid-column: span 12;
  color: red;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 20px;
}

span {
  color: white;
}

#bigger {
  width: 100%;
}

#github {
  width: 50%;
}

#email {
  width: 30%;
}

#insta {
  width: 30%;
}

#twitch {
  width: 35%;
}

#tiktok {
  width: 40%;
}

main a:hover {
  transform: scale(1.5);
}

img {
  width: 100%;
}

.audio {
  align-content: center;
}

iframe {
  width: 100%;
  height: 1080px;
}

p {
  text-align: center;
  font-size: 25px;
}

h2  {
  text-align: center;
  color: red;
  font-size: 40px;
}

h3 {
  text-align: center;
  font-size: 25px;
}

main li {
  list-style: none;
  text-align: center;
  color: red;
}
