body {
  background-color: #999999;
  background-color: #0c0c0c;
}

#wrapper {
  margin: auto;
  width: 1200px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  background-color: black;
}

header{
  grid-column: span 12;
  font-family: edo,  sans-serif;
  color: red;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom:  20px;
  font-size: 26px;
}

nav {
  grid-column: span 12;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 1200px;
  top:0
}

nav ul {

}

nav li {
  list-style: none;
  display: inline;
  font-family: edo;
  padding:  70px;
  font-size: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover {
  color: red;
}

nav li a:selected {
  color: red;
  text-decoration: underline;
}

main {
  grid-column: span 12;
}

footer{
  grid-column: span 12;
  color: red;
  font-family: edo;
  text-align: center;
  font-size: 20px;
}

span {
  color: white;
}

#bigger {
  width: 1200px;
}